.heroImage {
  background-image: url(../images/trutripHero.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;
  height: calc(100vh - 25px);
  display: flex;
  align-items: center;
  justify-content: center;
}
.jumboCopy {
  width: 70%;
  min-width: 500px;
  max-width: 700px;
  color: white;
  text-align: center;
}
.display-4 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 64px;
  text-shadow: 0px 5px 4px rgba(0, 0, 0, 0.25);
}
p.lead {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
}
.sectionHeading {
  margin: auto;
  align-items: center;
  text-align: center;
  padding: 50px;
}
.cardContainer {
  padding-bottom: 15px;
}
.card {
  border: 2px solid rgba(50, 114, 253, 0.5);
  min-height: 400px;
}
.card-title {
  justify-content: center;
  text-align: center;
  align-items: center;
  margin: auto;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 22px;
}
.researchPhoto {
  max-width: 75%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 20px;
}
.card-text {
  line-height: 30px;
}
.carousel,
.slide {
  height: 500px;
  height: calc(100vh - 25px);
  display: flex;
  align-items: center;
  justify-content: center;
}
.prototypePhoto {
  height: 500px;
  padding: 25px;
}
